.site-header {
  position: relative;
}

.header--contact {
  background: #000;
  color: #fff;
  padding: 5px 0;


  @media(max-width: $mobile) {
    text-align: center;
  }
}

.phone--header {
  float: left;

  @media(max-width: $mobile) {
    float: none;
    margin-bottom: 15px;
  }
}

.social-link--header {
  float: right;

  @media(max-width: $mobile) {
    float: none;
  }
}

.header--branding {
  padding: 20px 0;
  background: #fff;
  background: rgba(255,255,255,.8);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 20;

  @media(max-width: $mobile) {
    position: static;
    text-align: center;
    padding: 10px 0;
  }
}

.logo {
  float: left;
  width: 243px;
  padding: 43px 0 0 0;
  display: block;
  height: 0;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat 0 0;

  @media(max-width: $mobile) {
    float: none;
    margin: 0 auto;

  }

}