.icon--header {
  background: url(../img/icons/header_icons.png) no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;

  &:hover {
    position: relative;
    top: -1px;
  }
}

.icon--phone {
  background-position:  0 0;
  vertical-align: middle;
  margin-right: 5px;
}

.icon--facebook {
  background-position:  -60px 0;
}

.icon--twitter {
  background-position:  -120px 0;
}

.icon--google {
  background-position:  -90px 0;
}

.icon--pinterest {
  background-position:  -150px 0;
}

.icon--search {
  background-position: -30px 0;

  &:hover {
    top: 0;
  }
}

.class-icon {
  display: inline-block;
  background: url(../img/icons/class_sprite.png) no-repeat;
  vertical-align: middle;
  position: relative;
}

.class-icon--view {
  background-position: -60px 0;
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.class-icon--facebook  {
  background-position: 0 0;
  width: 9px;
  height: 18px;
}

.class-icon--contact  {
  background-position: -20px -3px;
  width: 16px;
  height: 13px;
}

.class-icon--like {
  background-position: -40px -1px;
  width: 15px;
  height: 17px;
}

.action-icon {
  width: 15px;
  height: 15px;
  background: url(../img/icons/action_icons.png) no-repeat;
  margin: 0 auto;
  display: block;
}

.action-icon--watch{
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

.action-icon--like {
  background-position: -20px 0;
}

.action-icon--dislike {
  background-position: -40px 0;
}

.action-icon--share {
  background-position: -60px 0;
}

.arrow-icon {
  background: url(../img/icons/arrow_sprite.png) no-repeat;
}

.blog-slider__nav-item--prev {
  background-position: 0 0;
}

.blog-slider__nav-item--next{
  background-position: -30px 0;
}

.arrow-sprite {
  background: url(../img/icons/arrow_sprite.png) no-repeat
}

.footer-icon {
  background: url(../img/icons/footer_sprite.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 13px;
  width: 13px;
}

.address-icon {
  background-position: 0 0;
}

.phone-icon {
  background-position: -20px 0;
}

.mobile-icon {
  background-position: -40px 0;
}

.mail-icon {
  background-position: -60px 0;
}
