.main-content-wrap {
  padding: 100px 0 50px;
  background: url(../img/bg/pattern.png) repeat 0 0;
  position: relative;
  z-index: 5;
  color: #fff;


  @media(max-width: $mobile) {
    padding-top: 50px;
  }
}

